:root {
  /* --primary-color: #102c45; */
  --primary-color: #173d5f;
  --secondary-color: #0a75bc;
  --bg-color: #05192d;
  --header-height: 100px;
  --gutter: 4vw;
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font: 16px/1.7 Helvetica, Helvetica Neue, Arial, sans-serif;
}

header {
  height: 100px;
  width: 100%;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: rgb(219, 219, 219);
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: var(--gutter);
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  padding: var(--gutter);
}

.english {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.title-english {
  color: white;
  font-size: 2.5rem;
  align-self: center;
  /* padding-bottom: 32px; */
  /* margin-bottom: 32px; */
  width: 100%;
  /* border-radius: 32px; */
  border-radius: 32px 0 0 0;
  text-align: center;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.translate-english {
  display: flex;
  flex-direction: column;
  position: relative;
}
textarea {
  outline: none;
  background-color: var(--bg-color);
  border: none;
  border: 1px solid var(--primary-color);
  /* border-radius: 32px; */
  /* border-radius: 32px 0 0 32px; */
  resize: none;
  color: white;
  padding: 32px;
  padding-bottom: 80px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.translate-english textarea {
  border-radius: 0 0 0 32px;
}
textarea:focus {
  /* outline: #102c45;
  outline-color: #102c45;
  outline-style: double;
  outline-width: 8px; */
  box-shadow: 0 0 4pt 3pt var(--primary-color);
  z-index: 2;
}
button {
  position: absolute;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 50px;
  border-radius: 32px;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: white;
  letter-spacing: 0.2vw;
  z-index: 2;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
button:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.play-btn {
  right: 200px;
}
audio {
  display: none;
}
.middle-col {
  width: 140px;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
}
.reverse-btn {
  color: white;
  font-size: 3rem;
  background-color: coral;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.loader-bcg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: relative;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.morse {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.title-morse {
  color: white;
  font-size: 2.5rem;
  align-self: center;
  /* padding-bottom: 32px; */
  /* margin-bottom: 32px; */
  width: 100%;
  /* border-radius: 32px; */
  border-radius: 0 32px 0 0;
  text-align: center;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.translate-morse {
  display: flex;
  flex-direction: column;
  position: relative;
}
.translate-morse textarea {
  border-radius: 0 0 32px 0;
  /* font-size: 1.2rem; */
}
::selection {
  color: white;
  /* background-color: blue; */
  background-color: turquoise;
}

.test {
  width: 100vw;
  height: 100vh;
}
.test2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(156, 156, 156);
}

.pattern-grid-lg {
  /* color: #102c45; */
  background-color: #05192d;
  background-image: linear-gradient(var(--primary-color) 1px, transparent 1px),
    linear-gradient(to right, var(--primary-color) 1px, transparent 1px);
  background-size: 50px 50px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: white;
  /* border-top: 1px solid var(--primary-color); */
  /* height: 100px; */
  height: 50px;
}
footer a {
  text-decoration-color: #0a75bc;
  color: #0a75bc;
  font-size: 1.1rem;
}
footer .by {
  font-size: 0.8rem;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  /* width: 200px; */
}

footer .social-media {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  /* width: 200px; */
  transform: translateY(2px);
}
.social-media img {
  padding-left: 8px;
}
